<h2>Создание мероприятия</h2>
<form [formGroup]="form" class="event-form-container">
  <div class="p-field event-type-field">
    <label>Тип мероприятия: {{ label }}</label>
  </div>

  <div class="p-field">
    <label for="name">Название:</label>
    <input id="name" type="text" pInputText formControlName="name" />
  </div>

  <div class="p-field">
    <label for="description">Описание:</label>
    <textarea id="description" pTextarea rows="3" formControlName="description"></textarea>
  </div>

  <div class="p-field">
    <label for="location">Место проведения:</label>
    <input id="location" type="text" pInputText formControlName="location" />
  </div>

  <div class="p-field">
    <label for="date">Дата:</label>
    <p-calendar id="date" formControlName="date" dateFormat="dd.mm.yy" [showIcon]="true"></p-calendar>
  </div>

  <ng-container *ngTemplateOutlet="contentTemplate; context: { form: form }"></ng-container>

  <div class="button-container">
    <p-button label="Отмена" severity="secondary" (click)="emitCloseDialog()"></p-button>
    <p-button [label]="actionButtonLabel" type="submit" class="event-form__button" [disabled]="form.invalid"
      (click)="saveForm()"></p-button>
  </div>
</form>
